:root{
    background-color: #8e9190;
}

.signInContainer{
    background-color: #8e9190;
}

.card {
    background-color: #8e9190;
}


/* td {
    text-align: center;
}

table, tr, td {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
} */